{% extends "base.html" %}

{% block title %}登入{% endblock %}

{% block content %}
    <h1>登入</h1>
    {% if form.errors %}
        <p>您的帳號名稱與密碼並不相符，請再試一次</p>
    {% else %}
        <p>請填妥以下資訊登入，如果你沒有帳號 <a href="{% url "register" %}">註冊</a></p>
    {% endif %}
    
    <div class="login-form">
        <form action="{% url "login" %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="登入"></p>
        </form>

    </div>
    
    
{% endblock %}